In [1]:
library(tidyverse)

read_csv(
  "https://www2.census.gov/programs-surveys/popest/datasets/2010-2018/metro/totals/cbsa-est2018-alldata.csv"
  ) -> cbsa

cbsa %>%
  select(NAME) %>%
  glimpse()

── Attaching packages ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Rows: 2789 Columns: 88

── Column specification ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): STCOU, NAME, LSAD
dbl (85): CBSA, MDIV, CENSUS2010POP, ESTIMATESBASE2010, POPESTIMATE2010, POP...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 2,789
Columns: 1
$ NAME <chr> "Abilene, TX", "Callahan County, TX", "Jones County, TX", "Taylor…

In [2]:
cbsa %>%
  separate(
    col = NAME, 
    into = c("placename", "stateabb"),
    sep = ", ",
    remove = FALSE
  ) -> cbsa

Warning message in gregexpr(pattern, x, perl = TRUE):
“PCRE error
	'UTF-8 error: byte 2 top bits not 0x80'
	for element 800”

Warning message in gregexpr(pattern, x, perl = TRUE):
“PCRE error
	'UTF-8 error: byte 2 top bits not 0x80'
	for element 1767”

Warning message in gregexpr(pattern, x, perl = TRUE):
“PCRE error
	'UTF-8 error: byte 2 top bits not 0x80'
	for element 1931”

Warning message:
“Expected 2 pieces. Missing pieces filled with `NA` in 3 rows [800, 1767, 1931].”

In [3]:
cbsa %>%
  select(NAME, placename, stateabb) %>%
  head()

  NAME                placename       stateabb
1 Abilene, TX         Abilene         TX
2 Callahan County, TX Callahan County TX
3 Jones County, TX    Jones County    TX
4 Taylor County, TX   Taylor County   TX
5 Akron, OH           Akron           OH
6 Portage County, OH  Portage County  OH

In [4]:
cbsa %>%
    head()

  CBSA  MDIV STCOU NAME                placename       stateabb
1 10180 NA   NA    Abilene, TX         Abilene         TX
2 10180 NA   48059 Callahan County, TX Callahan County TX
3 10180 NA   48253 Jones County, TX    Jones County    TX
4 10180 NA   48441 Taylor County, TX   Taylor County   TX
5 10420 NA   NA    Akron, OH           Akron           OH
6 10420 NA   39133 Portage County, OH  Portage County  OH
  LSAD                          CENSUS2010POP ESTIMATESBASE2010 POPESTIMATE2010
1 Metropolitan Statistical Area 165252        165246            165583
2 County or equivalent           13544         13546             13513
3 County or equivalent           20202         20192             20237
4 County or equivalent          131506        131508            131833
5 Metropolitan Statistical Area 703200        703203            703035
6 County or equivalent          161419        161425            161389
  ⋯ NETMIG2018 RESIDUAL2010 RESIDUAL2011 RESIDUAL2012 RESIDUAL2013 RESIDUAL2014
1 ⋯ 301         -5          -15           -8           19           -19
2 ⋯  50         -1           -1           -2           -2            -1
3 ⋯ -25          1            3           12            3             2
4 ⋯ 276         -5          -17          -18           18           -20
5 ⋯ 522        -33          -43          -39          -73          -105
6 ⋯ 371         -5          -18            2          -10           -28
  RESIDUAL2015 RESIDUAL2016 RESIDUAL2017 RESIDUAL2018
1 -16           -4           -5           -8
2  -1            0            0            0
3   3           -1            0           -2
4 -18           -3           -5           -6
5 -52          -15          -26          -27
6 -10            0           -1           -5

In [5]:
cbsa %>%
  separate(
    col = STCOU, 
    into = c("stfips", "coufips"),
    sep = 2,
    remove = FALSE
  ) -> cbsa

cbsa %>%
  select(STCOU, stfips, coufips) %>%
  head()

  STCOU stfips coufips
1 NA    NA     NA
2 48059 48     059
3 48253 48     253
4 48441 48     441
5 NA    NA     NA
6 39133 39     133

In [6]:
read_csv(
  "https://www2.census.gov/programs-surveys/popest/datasets/2010-2018/counties/totals/co-est2018-alldata.csv"
  ) -> coudf

Rows: 3193 Columns: 148

── Column specification ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr   (5): SUMLEV, STATE, COUNTY, STNAME, CTYNAME
dbl (143): REGION, DIVISION, CENSUS2010POP, ESTIMATESBASE2010, POPESTIMATE20...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [7]:
coudf %>%
  filter(COUNTY != "000") -> coudf2

coudf2 %>%
  select(STNAME, CTYNAME) %>%
  head()

  STNAME  CTYNAME
1 Alabama Autauga County
2 Alabama Baldwin County
3 Alabama Barbour County
4 Alabama Bibb County
5 Alabama Blount County
6 Alabama Bullock County

In [8]:
coudf2 %>%
  unite(
    col = "countystate",
    c("CTYNAME", "STNAME"),
    sep = ", ",
    remove = FALSE
  ) -> coudf2

coudf2 %>%
  select(CTYNAME, STNAME, countystate) %>%
  head()

  CTYNAME        STNAME  countystate
1 Autauga County Alabama Autauga County, Alabama
2 Baldwin County Alabama Baldwin County, Alabama
3 Barbour County Alabama Barbour County, Alabama
4 Bibb County    Alabama Bibb County, Alabama
5 Blount County  Alabama Blount County, Alabama
6 Bullock County Alabama Bullock County, Alabama

In [9]:
read_csv(
  "https://www2.census.gov/programs-surveys/popest/datasets/2010-2018/metro/totals/cbsa-est2018-alldata.csv"
  ) -> cbsa

cbsa %>%
  select(c(4, 8:16)) -> cbsa01

cbsa01 %>%
  head()

Rows: 2789 Columns: 88

── Column specification ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): STCOU, NAME, LSAD
dbl (85): CBSA, MDIV, CENSUS2010POP, ESTIMATESBASE2010, POPESTIMATE2010, POP...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  NAME                POPESTIMATE2010 POPESTIMATE2011 POPESTIMATE2012
1 Abilene, TX         165583          166616          167447
2 Callahan County, TX  13513           13511           13488
3 Jones County, TX     20237           20266           19870
4 Taylor County, TX   131833          132839          134089
5 Akron, OH           703035          703123          702080
6 Portage County, OH  161389          161857          161375
  POPESTIMATE2013 POPESTIMATE2014 POPESTIMATE2015 POPESTIMATE2016
1 167472          168355          169704          170018
2  13501           13506           13591           13789
3  20034           19846           19972           19969
4 133937          135003          136141          136260
5 703625          704921          704448          703690
6 161691          162459          162615          162595
  POPESTIMATE2017 POPESTIMATE2018
1 170516          171451
2  13968           13994
3  19852           19817
4 136696          137640
5 704367          704845
6 162625          162927

In [10]:
cbsa01 %>%
  group_by(NAME) %>%
  pivot_longer(
    names_to = "variable",
    values_to = "POPULATION",
    cols = 2:10
  ) -> cbsa01.long

cbsa01.long %>%
  head()

  NAME        variable        POPULATION
1 Abilene, TX POPESTIMATE2010 165583
2 Abilene, TX POPESTIMATE2011 166616
3 Abilene, TX POPESTIMATE2012 167447
4 Abilene, TX POPESTIMATE2013 167472
5 Abilene, TX POPESTIMATE2014 168355
6 Abilene, TX POPESTIMATE2015 169704

In [11]:
cbsa01.long %>%
  separate(
    col = variable,
    into = c("todiscard", "toyear"),
    sep = 11,
    remove = TRUE) -> cbsa01.long2

cbsa01.long2 %>%
  mutate(YEAR = as.numeric(toyear)) %>%
    select(c(NAME, YEAR, POPULATION)) -> cbsa01.long3

cbsa01.long3 %>%
  head()

  NAME        YEAR POPULATION
1 Abilene, TX 2010 165583
2 Abilene, TX 2011 166616
3 Abilene, TX 2012 167447
4 Abilene, TX 2013 167472
5 Abilene, TX 2014 168355
6 Abilene, TX 2015 169704

In [12]:
cbsa01.long %>%
    mutate(
    Year = stringr::str_remove_all(variable, "POPESTIMATE")
    ) -> cbsa.long4

cbsa.long4 %>%
    select(-variable) %>%
    head()

  NAME        POPULATION Year
1 Abilene, TX 165583     2010
2 Abilene, TX 166616     2011
3 Abilene, TX 167447     2012
4 Abilene, TX 167472     2013
5 Abilene, TX 168355     2014
6 Abilene, TX 169704     2015

In [13]:
us_rent_income %>%
  head()

  GEOID NAME    variable estimate moe
1 01    Alabama income   24476    136
2 01    Alabama rent       747      3
3 02    Alaska  income   32940    508
4 02    Alaska  rent      1200     13
5 04    Arizona income   27517    148
6 04    Arizona rent       972      4

In [14]:
us_rent_income %>%
  group_by(GEOID, NAME) %>%
  pivot_wider(
    names_from = variable,
    values_from = c(estimate, moe)
  ) -> usri.wide

usri.wide %>%
  head()

  GEOID NAME       estimate_income estimate_rent moe_income moe_rent
1 01    Alabama    24476            747          136         3
2 02    Alaska     32940           1200          508        13
3 04    Arizona    27517            972          148         4
4 05    Arkansas   23789            709          165         5
5 06    California 29454           1358          109         3
6 08    Colorado   32401           1125          109         5

In [15]:
cbsa %>%
  select(3:5, 8:88) %>%
  group_by(NAME) %>%
  pivot_longer(
    names_to = "variable",
    values_to = "estimate",
    cols = 4:84
    ) -> cbsa.01

cbsa.01 %>%
  head(., 20)

   STCOU NAME        LSAD                          variable        estimate
1  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2010 165583
2  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2011 166616
3  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2012 167447
4  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2013 167472
5  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2014 168355
6  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2015 169704
7  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2016 170018
8  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2017 170516
9  NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2018 171451
10 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2010        337
11 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2011       1033
12 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2012        831
13 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2013         25
14 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2014        883
15 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2015       1349
16 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2016        314
17 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2017        498
18 NA    Abilene, TX Metropolitan Statistical Area NPOPCHG2018        935
19 NA    Abilene, TX Metropolitan Statistical Area BIRTHS2010         540
20 NA    Abilene, TX Metropolitan Statistical Area BIRTHS2011        2295

In [16]:
cbsa.01 %>%
  separate(
    col = "variable",
    into = c("vartype", "year"),
    sep = "(?=[[:digit:]])",
    extra = "merge",
    remove = FALSE
  ) -> cbsa.02

cbsa.02 %>%
  head()

  STCOU NAME        LSAD                          variable        vartype
1 NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2010 POPESTIMATE
2 NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2011 POPESTIMATE
3 NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2012 POPESTIMATE
4 NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2013 POPESTIMATE
5 NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2014 POPESTIMATE
6 NA    Abilene, TX Metropolitan Statistical Area POPESTIMATE2015 POPESTIMATE
  year estimate
1 2010 165583
2 2011 166616
3 2012 167447
4 2013 167472
5 2014 168355
6 2015 169704

In [17]:
names(cbsa)

 [1] "CBSA"                 "MDIV"                 "STCOU"
 [4] "NAME"                 "LSAD"                 "CENSUS2010POP"
 [7] "ESTIMATESBASE2010"    "POPESTIMATE2010"      "POPESTIMATE2011"
[10] "POPESTIMATE2012"      "POPESTIMATE2013"      "POPESTIMATE2014"
[13] "POPESTIMATE2015"      "POPESTIMATE2016"      "POPESTIMATE2017"
[16] "POPESTIMATE2018"      "NPOPCHG2010"          "NPOPCHG2011"
[19] "NPOPCHG2012"          "NPOPCHG2013"          "NPOPCHG2014"
[22] "NPOPCHG2015"          "NPOPCHG2016"          "NPOPCHG2017"
[25] "NPOPCHG2018"          "BIRTHS2010"           "BIRTHS2011"
[28] "BIRTHS2012"           "BIRTHS2013"           "BIRTHS2014"
[31] "BIRTHS2015"           "BIRTHS2016"           "BIRTHS2017"
[34] "BIRTHS2018"           "DEATHS2010"           "DEATHS2011"
[37] "DEATHS2012"           "DEATHS2013"           "DEATHS2014"
[40] "DEATHS2015"           "DEATHS2016"           "DEATHS2017"
[43] "DEATHS2018"           "NATURALINC2010"       "NATURALINC2011"
[46] "NATURALINC2012"       "NATURALINC2013"       "NATURALINC2014"
[49] "NATURALINC2015"       "NATURALINC2016"       "NATURALINC2017"
[52] "NATURALINC2018"       "INTERNATIONALMIG2010" "INTERNATIONALMIG2011"
[55] "INTERNATIONALMIG2012" "INTERNATIONALMIG2013" "INTERNATIONALMIG2014"
[58] "INTERNATIONALMIG2015" "INTERNATIONALMIG2016" "INTERNATIONALMIG2017"
[61] "INTERNATIONALMIG2018" "DOMESTICMIG2010"      "DOMESTICMIG2011"
[64] "DOMESTICMIG2012"      "DOMESTICMIG2013"      "DOMESTICMIG2014"
[67] "DOMESTICMIG2015"      "DOMESTICMIG2016"      "DOMESTICMIG2017"
[70] "DOMESTICMIG2018"      "NETMIG2010"           "NETMIG2011"
[73] "NETMIG2012"           "NETMIG2013"           "NETMIG2014"
[76] "NETMIG2015"           "NETMIG2016"           "NETMIG2017"
[79] "NETMIG2018"           "RESIDUAL2010"         "RESIDUAL2011"
[82] "RESIDUAL2012"         "RESIDUAL2013"         "RESIDUAL2014"
[85] "RESIDUAL2015"         "RESIDUAL2016"         "RESIDUAL2017"
[88] "RESIDUAL2018"

In [18]:
cbsa.02 %>%
  select(c(2, 5:7)) %>%
  group_by(NAME, year) %>%
  pivot_wider(
    names_from = "vartype",
    values_from = "estimate"
  ) -> cbsa.03

cbsa.03 %>%
  glimpse()

Warning message:
“Values are not uniquely identified; output will contain list-cols.
* Use `values_fn = list` to suppress this warning.
* Use `values_fn = length` to identify where the duplicates arise
* Use `values_fn = {summary_fun}` to summarise duplicates”

Rows: 25,083
Columns: 11
Groups: NAME, year [25,083]
$ NAME             <chr> "Abilene, TX", "Abilene, TX", "Abilene, TX", "Abilene…
$ year             <chr> "2010", "2011", "2012", "2013", "2014", "2015", "2016…
$ POPESTIMATE      <list> 165583, 166616, 167447, 167472, 168355, 169704, 1700…
$ NPOPCHG          <list> 337, 1033, 831, 25, 883, 1349, 314, 498, 935, -33, -…
$ BIRTHS           <list> 540, 2295, 2358, 2390, 2382, 2417, 2379, 2427, 2381,…
$ DEATHS           <list> 406, 1506, 1587, 1694, 1598, 1698, 1726, 1705, 1739,…
$ NATURALINC       <list> 134, 789, 771, 696, 784, 719, 653, 722, 642, -29, -3…
$ INTERNATIONALMIG <list> 84, 205, 516, 361, 419, 484, 388, 325, 282, 0, 4, 5,…
$ DOMESTICMIG      <list> 124, 54, -448, -1051, -301, 162, -723, -544, 19, -3,…
$ NETMIG           <list> 208, 259, 68, -690, 118, 646, -335, -219, 301, -3, 3…
$ RESIDUAL         <list> -5, -15, -8, 19, -19, -16, -4, -5, -8, -1, -1, -2, -…

In [19]:
read.delim(
 file = "http://stat405.had.co.nz/data/weather.txt",
 stringsAsFactors = FALSE
 ) -> weather

weather

   id          year month element d1  d2  d3  d4  d5  d6  ⋯ d22 d23 d24 d25 d26
1  MX000017004 2010  1    TMAX     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
2  MX000017004 2010  1    TMIN     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
3  MX000017004 2010  2    TMAX     NA 273 241  NA  NA  NA ⋯ NA  299 NA   NA  NA
4  MX000017004 2010  2    TMIN     NA 144 144  NA  NA  NA ⋯ NA  107 NA   NA  NA
5  MX000017004 2010  3    TMAX     NA  NA  NA  NA 321  NA ⋯ NA   NA NA   NA  NA
6  MX000017004 2010  3    TMIN     NA  NA  NA  NA 142  NA ⋯ NA   NA NA   NA  NA
7  MX000017004 2010  4    TMAX     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
8  MX000017004 2010  4    TMIN     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
9  MX000017004 2010  5    TMAX     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
10 MX000017004 2010  5    TMIN     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
11 MX000017004 2010  6    TMAX     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
12 MX000017004 2010  6    TMIN     NA  NA  NA  NA  NA  NA ⋯ NA   NA NA   NA  NA
13 MX000017004 2010  7    TMAX     NA  NA 286  NA  NA  NA ⋯ NA   NA NA   NA  NA
14 MX000017004 2010  7    TMIN     NA  NA 175  NA  NA  NA ⋯ NA   NA NA   NA  NA
15 MX000017004 2010  8    TMAX     NA  NA  NA  NA 296  NA ⋯ NA  264 NA  297  NA
16 MX000017004 2010  8    TMIN     NA  NA  NA  NA 158  NA ⋯ NA  150 NA  156  NA
17 MX000017004 2010 10    TMAX     NA  NA  NA  NA 270  NA ⋯ NA   NA NA   NA  NA
18 MX000017004 2010 10    TMIN     NA  NA  NA  NA 140  NA ⋯ NA   NA NA   NA  NA
19 MX000017004 2010 11    TMAX     NA 313  NA 272 263  NA ⋯ NA   NA NA   NA 281
20 MX000017004 2010 11    TMIN     NA 163  NA 120  79  NA ⋯ NA   NA NA   NA 121
21 MX000017004 2010 12    TMAX    299  NA  NA  NA  NA 278 ⋯ NA   NA NA   NA  NA
22 MX000017004 2010 12    TMIN    138  NA  NA  NA  NA 105 ⋯ NA   NA NA   NA  NA
   d27 d28 d29 d30 d31
1   NA  NA  NA 278  NA
2   NA  NA  NA 145  NA
3   NA  NA  NA  NA  NA
4   NA  NA  NA  NA  NA
5   NA  NA  NA  NA  NA
6   NA  NA  NA  NA  NA
7  363  NA  NA  NA  NA
8  167  NA  NA  NA  NA
9  332  NA  NA  NA  NA
10 182  NA  NA  NA  NA
11  NA  NA 301  NA  NA
12  NA  NA 180  NA  NA
13  NA  NA  NA  NA  NA
14  NA  NA  NA  NA  NA
15  NA  NA 280  NA 254
16  NA  NA 153  NA 154
17  NA 312  NA  NA  NA
18  NA 150  NA  NA  NA
19 277  NA  NA  NA  NA
20 142  NA  NA  NA  NA
21  NA  NA  NA  NA  NA
22  NA  NA  NA  NA  NA